[submodule "MobileApplication"]
	path = MobileApplication
	url = https://github.com/khandragon/DermAssist-MobileApplication
[submodule "DermAssistBackend"]
	path = DermAssistBackend
	url = https://github.com/khandragon/DermAssistBackend
[submodule "DermAssistAIModule"]
	path = DermAssistAIModule
	url = https://github.com/khandragon/DermAssistAIModule.git
